#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 80px; /* Place the button at the bottom of the page */
    right: 80px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #44a0be; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 25px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 50px;
    height: 50px;
}

#myBtn:hover {
    background-color: #1182a7; /* Add a dark-grey background on hover */
} 